.width {
    margin: 20px auto;
    width: 150px;
    text-align: center;
  }
  
  .form {
    width: 50%;
    padding-bottom: 5em;
    margin: 0 auto;
  }
  
  h2 {
    text-align: left;
    padding: 5px;
  }
  
  .inlineBlock {
    display: inline-block;
  }

  .padding {
    padding: 10px;
  }
  .padding-services {
    padding-right: 50px;
    padding-left: 25px;
  }
  
  .padding-button {
    padding-bottom: 10rem;
  }

  .right {
    float: right;
  }

  .top {
    padding-top: 25px;
  }

  .mat-raised-button {
    background: #2286c3;
}
