<!--
============================================
; Title: app.component.html
; Author: Adam Donner
; Date: 16 October 2019
; Description:  app.component.html
;===========================================

-->

<!--Top Navigation-->
<app-nav-bar></app-nav-bar>

<!--Side Navigation-->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="left">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]=""> Home </a>
        <a mat-list-item [routerLink]=""> Login </a>
  
      </mat-nav-list>
    </mat-sidenav>

    <!--Body-->
  <mat-sidenav-content>
    <div class="parent" fxLayout="row">
      <!-- Left Pane-->
      <!-- Right Pane -->
      <div class="right" fxFlex fxLayout="column">
        <!-- Router Outlet for application -->
          <mat-form-field>
            <input matInput type="text" placeholder="Enter stock (e.g. AAPL)" (change)="onChangeEvent($event)">
          </mat-form-field>

        <div class="purchase">
          <app-order [stockSymbol]="stock" [quantity]="numberOfShares"></app-order>
        </div>
      </div> 
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>